section {
    width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #000000;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

th {
    background-color: #4CAF50;
    color: white;
}

.excess {
    color: red;
}

.normal {
    color: #0c962f;
}